<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LuniiKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LuniiKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <LuniiKit.Properties.Settings>
            <setting name="confhost" serializeAs="String">
                <value />
            </setting>
            <setting name="confport" serializeAs="String">
                <value />
            </setting>
            <setting name="studioportable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoopenweb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nlogs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="skiptests" serializeAs="String">
                <value>False</value>
            </setting>
        </LuniiKit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LuniiKit.Properties.Settings>
            <setting name="defhost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="defport" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="appver" serializeAs="String">
                <value>2.1.3</value>
            </setting>
            <setting name="urlver" serializeAs="String">
                <value>https://raw.githubusercontent.com/Seph29/LuniiKit_App/master/ver</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://github.com/Seph29/LuniiKit_App</value>
            </setting>
            <setting name="urldownload" serializeAs="String">
                <value>https://github.com/Seph29/LuniiKit_App/releases</value>
            </setting>
            <setting name="studio1ver" serializeAs="String">
                <value>0.3.1</value>
            </setting>
            <setting name="studio2ver" serializeAs="String">
                <value>0.4.2</value>
            </setting>
            <setting name="studio3ver" serializeAs="String">
                <value>0.4.3-SNAPSHOT</value>
            </setting>
        </LuniiKit.Properties.Settings>
    </applicationSettings>
</configuration>
