<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InullKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InullKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <InullKit.Properties.Settings>
            <setting name="confhost" serializeAs="String">
                <value />
            </setting>
            <setting name="confport" serializeAs="String">
                <value />
            </setting>
            <setting name="studioportable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoopenweb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nlogs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="folderstudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="folderspg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offdb" serializeAs="String">
                <value />
            </setting>
            <setting name="unoffdb" serializeAs="String">
                <value />
            </setting>
            <setting name="library" serializeAs="String">
                <value />
            </setting>
            <setting name="eraselog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tmp" serializeAs="String">
                <value />
            </setting>
            <setting name="eraseOfficial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="folderlog" serializeAs="String">
                <value>True</value>
            </setting>
        </InullKit.Properties.Settings>
</userSettings>
    <applicationSettings>
		<InullKit.Properties.Settings>
      <setting name="studio1ver" serializeAs="String">
          <value>0.3.1</value>
      </setting>
      <setting name="studio2ver" serializeAs="String">
          <value>0.4.2</value>
      </setting>
      <setting name="studio3ver" serializeAs="String">
          <value>1.0.2</value>
      </setting>
  </InullKit.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>